body {
    
    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
    
    
    h1{
        
        font-weight:bold;
    }


  
.es{
    width:300px;
    height:200px;
    background-color:bisque;
    z-index: -10;

}

.box {
    background-color: lightgrey;
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
      }

.pink {
    background-color: lightgrey;
    width: 300px;
    border: 15px solid rgb(249, 52, 44);
    padding: 50px;
    margin: 20px;
}

.blue {
    background-color: lightgrey;
    width: 300px;
    border: 15px solid #fbec5d;
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
      }